@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
  --backgroundColor: #f5f7fa;
  --textColor: #656565;
  --primaryRGB: 61, 117, 187;
  --primaryColor: rgb(var(--primaryRGB));
  --fontSize: 10px;
  --borderRadius: 0.6rem;
  --spacingStack: 1rem;
  --spacingInline: 1.4rem;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: var(--fontSize);
}

html,
body {
  min-width: 100vw;
  min-height: 100vh;
}

body {
  background: var(--backgroundColor);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: var(--textColor);
}

h1,
h2,
h3 {
  font-weight: 700;
}

#app {
  max-width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.4rem;
  line-height: 3rem;
  margin-bottom: calc(var(--spacingStack) * 2.2);
}

form {
  width: 61rem;
  background: #ffffff;
  border: 1px solid #d1dce3;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;

  main {
    width: 100%;
    padding: calc(var(--spacingStack) * 4) calc(var(--spacingInline) * 4);
  }
}

.form-control {
  min-width: 25rem;

  &:not(:last-of-type) {
    margin-bottom: calc(var(--spacingStack) * 2.6);
  }

  label,
  input,
  caption {
    display: block;
    font-size: 1.4rem;
    line-height: 1.8rem;
    width: 100%;
  }

  label {
    margin-bottom: calc(var(--spacingStack) * 0.6);
  }

  input {
    background: #ffffff;
    border: 1px solid #dde6e9;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1.8rem;
    padding: var(--spacingStack) var(--spacingInline);

    &:hover,
    &:focus,
    &:active {
      border: 1px solid #66afe9;
    }
  }

  .caption {
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 14px;
    color: #cecece;
  }
}

aside {
  min-width: 23rem;
  background: rgba(209, 220, 227, 0.18);
  padding: calc(var(--spacingStack) * 8) calc(var(--spacingInline) * 3);
  color: var(--primaryColor);
  font-style: italic;

  h3,
  p {
    font-size: 1.6em;
  }

  h3 {
    text-transform: uppercase;
    border-bottom: 1px solid rgba(var(--primaryRGB), 0.2);
    margin-bottom: calc(var(--spacingStack) * 3);
  }

  p {
    color: rgba(93, 156, 236, 1);
    margin-bottom: calc(var(--spacingStack) * 2.4);
  }
}
